* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1D1B1C;
  color: #FFFFFF;
  padding-bottom: 10%;
}
header .container {
  position: relative;
  padding: 0 12%;
}
header .container__navbar {
  display: flex;
  height: 2.57rem;
}
header .container__navbar__logo {
  width: 6rem;
}
header .container__navbar__logo img {
  width: 100%;
  transform: rotate(-20deg);
}
header .container__navbar__nav_links {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}
header .container__navbar__nav_links li {
  padding: 2.8rem;
}
header .container__navbar__nav_links .orangered {
  color: #E14B32;
  margin-left: 6rem;
}
header .container__navbar__nav_links .orangered::before {
  content: "";
  display: block;
  position: absolute;
  width: 4rem;
  top: 3.3rem;
  right: 38rem;
  border: 1px solid #E14B32;
}
header .container .yellow-triangle {
  position: absolute;
  top: 17rem;
  right: 40rem;
  border-bottom: 28.57px solid #FAAF40;
  border-right: 28.57px solid transparent;
}
header .container .box-with-line {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #DF4E31;
  bottom: -24px;
  left: 30%;
  z-index: 1;
}
header .container .box-with-line::after {
  position: absolute;
  content: "";
  height: 60%;
  border-left: 2px solid #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
header .container__banner {
  position: relative;
  padding: 6rem 0;
}
header .container__banner_heading h1 {
  font-family: Bebas Neue;
  font-size: 18rem;
  width: 39rem;
  white-space: nowrap;
  font-weight: 400;
}
header .container__banner_heading p {
  font-size: 1.9rem;
  margin-top: -4rem;
  margin-left: 1rem;
}
header .container__banner_side_heading {
  position: relative;
}
header .container__banner_side_heading .greadient_circle {
  position: absolute;
  width: 6.25rem;
  height: 6.25rem;
  right: 30rem;
  bottom: -3rem;
  border-radius: 50%;
  background: rgb(225, 75, 50);
  background: linear-gradient(280deg, rgb(225, 75, 50) 35%, rgb(55, 135, 200) 100%);
}
header .container__banner_side_heading p {
  position: absolute;
  width: 20rem;
  text-align: left;
  font-size: 1.2rem;
  right: 13rem;
  bottom: -5rem;
}

@media only screen and (max-width: 376px) {
  header {
    padding-bottom: 3%;
  }
  header .container {
    padding: 0 5%;
  }
  header .container__navbar__nav_links {
    display: block;
    margin-left: 9rem;
    margin-top: 2rem;
    line-height: 1.5;
    text-align: right;
  }
  header .container__navbar__nav_links li {
    padding: 0;
  }
  header .container__navbar__nav_links .orangered {
    margin-left: 0;
  }
  header .container__navbar__nav_links .orangered::before {
    content: "";
    display: block;
    position: absolute;
    top: 8.5rem;
    right: 7rem;
    font-size: 18px;
    width: 4rem;
    border: 1px solid #E14B32;
  }
  header .container .yellow-triangle {
    position: absolute;
    top: 17rem;
    right: 5rem;
  }
  header .container .half-blue-circle {
    position: absolute;
    width: 23px;
    height: 30px;
    right: 0;
    bottom: 23rem;
    background-color: #3787C8;
    border-radius: 50% 0 0 50%;
  }
  header .container__banner_heading h1 {
    width: 100%;
    margin: 5rem 0;
    white-space: normal;
    line-height: 0.8;
    font-size: 13.75rem;
  }
  header .container__banner_heading p {
    margin-top: -5rem;
    font-size: 18px;
  }
  header .container__banner_side_heading {
    margin-top: 4rem;
  }
  header .container__banner_side_heading .greadient_circle {
    visibility: hidden;
  }
  header .container__banner_side_heading p {
    position: static;
    text-align: left;
    margin: 0 1rem;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
  }
}/*# sourceMappingURL=styles.css.map */